<h2>Thiết bị đã đăng nhập</h2>

<table border="1">
    <tr>
        <th>IP</th>
        <th>Thiết bị</th>
        <th>Hoạt động</th>
        <th>Trạng thái</th>
    </tr>

    {% for d in devices %}
    <tr>
        <td>{{ d.ip_address }}</td>
        <td>{{ d.user_agent|truncatechars:40 }}</td>
        <td>{{ d.last_seen }}</td>
        <td>
            {% if d.session_key == request.session.session_key %}
                ✅ Thiết bị hiện tại
            {% else %}
                🖥️ Thiết bị khác
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>